<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FileCloud | <%= content_for?(:title) ? yield(:title) : "File-sharing web app" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Filecloud" %>">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/3.5.2/css/animsition.min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,100' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/animsition/3.5.2/js/jquery.animsition.min.js"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'folders/create_folder'  %>

    <% unless flash.empty? %>
    <script type="text/javascript">
    <% flash.each do |f| %>
    <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
    toastr['<%= type %>']('<%= f[1] %>');
    <% end %>
    </script>
    <% end %>
    
    <main role="main" class="">
    <div class="container">
        <div class="row">
          <h1 class="logo col-sm-8"> <i class="fa fa-cloud"></i> File Cloud </h1>
          <%= render 'layouts/login_status' %>
        </div>
        <div class="animsition">
        <%= yield %>
        </div>
    </div>
    </main>
  </body>
</html>