<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ShareBox | <%= content_for?(:title) ? yield(:title) : "File-sharing web app" %></title>

    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Filecloud" %>">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
    <div class="container">
    <div class="well">
       <%= render 'layouts/messages' %>
       <%= yield %>
       </div>
       </div>
    </main>
  </body>
</html>
