<div class="col-sm-5 col-md-4 center-block ">

<h2 class="text-muted text-center">Sign up</h2>

<%= form_for(resource, as: resource_name,class:"form", url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div class="form-control-wrapper form-group">
  <%= f.email_field :email, autofocus: true , class: "form-control empty" %>
  <div class="floating-label">Username</div>
  <span class="material-input"></span>
</div>

<div class="form-control-wrapper form-group">

    <%= f.password_field :password, autocomplete: "off" ,class: "form-control empty"%>
    <div class="hint">
          <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>

    </div>
        <div class="floating-label">Password</div>
  <span class="material-input"></span>
  </div>

<div class="form-control-wrapper form-group">
  <%= f.password_field :password_confirmation, autocomplete: "off" ,class: "form-control empty" %>

    <div class="floating-label">Password Confirmation</div>
  <span class="material-input"></span>
</div>
  <div class="actions">
    <%= f.submit "Sign up" ,class:"center-block btn btn btn-success"%>
  </div>
<% end %>

<%= render "users/shared/links" %>

</div>